!!!
html
	head
		title =title
	body
		a#play-button(href='#') Play!
		a#pass-button(href='#') Pass!
		section#center
		section.player
			h1 Player 1
			ul
		section.player
			h1 Player 2
			ul
		section.player
			h1 Player 3
			ul
		section.player
			h1 Player 4
			ul		
	footer
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
		script(src='javascripts/client.js')