extend layout
block script
  script(src="/javascripts/lib/angular.min.js")
  script(src="/javascripts/services.js")
  script(src="/javascripts/index.js")
block content
  .main-container(ng-controller="RoomController") 
    p Welcome to Big 2! You are {{playerName}}
    form(ng-submit="requestRoom()")
      input(type="text", name="roomName", ng-model="roomName")
      button Join Room
    a.btn.btn-primary(ng-click="startTestGame()") Start Test Game
    p(ng-show="inRoom == true") You are in room {{roomName}}
  .game-container(ng-controller="GameController")
    p(ng-show="playerIndex != null") You are Player {{playerIndex + 1}}
    p(ng-show="whoseTurn != null") It is Player {{whoseTurn + 1}} 's turn
    ul
      li(ng-repeat="player in players") 
        {{player.name}}
    a.btn(ng-show="players.length == 4", ng-click="startGame()") Start Game!
    .hand.playingCards
      a(ng-repeat="card in hand", ng-click="card.selected = !card.selected", class="card rank-{{card.rank}} {{card.suit.toLowerCase()}}s", ng-class="{selected: card.selected}")
        span.rank {{card.rank}}
        span.suit(ng-bind-html-unsafe="suitSpecialCharacter(card.suit)")
      a.btn.btn-primary(ng-click="playCards()", ng-show="selectedCards().length > 0") Play
      a.btn.btn-primary(ng-click="pass()", ng-show="selectedCards().length == 0") Pass
    .clearfix
    h1 Center
    .game-over-message.alert(ng-show="gameOver")
      p Winner: Player {{winnerIndex}}
    .playingCards
      a(ng-repeat="card in center", class="card rank-{{card.rank}} {{card.suit.toLowerCase()}}s", ng-class="{selected: card.selected}")
        span.rank {{card.rank}}
        span.suit(ng-bind-html-unsafe="suitSpecialCharacter(card.suit)")
    h1 History  
    .player-container(ng-repeat="player in players")
      h2 Player {{$index + 1}}
      p(ng-show="player.passed") "Pass"
      .playingCards
        a(ng-repeat="card in player.lastPlayed", class="card rank-{{card.rank}} {{card.suit.toLowerCase()}}s", ng-class="{selected: card.selected}")
          span.rank {{card.rank}}
          span.suit(ng-bind-html-unsafe="suitSpecialCharacter(card.suit)")
      

  


