!!!
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/cards.css')
    script(src="/socket.io/socket.io.js")
    block script
    body(ng-app="deuces")
    block content

