html,
body,
.game-container {
  height: 100%;
}
.hand.playingCards {
  position: absolute;
  bottom: 0;
}
.hand.playingCards a.card {
  float: left;
}
.hand.playingCards a.card.selected {
  bottom: 1em;
}
